* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #eee;
  background-image: url('./tiny-grid.png');

}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: 'Orbitron';
  font-weight: 700;
  margin: 0 auto;
}

header p {
  text-align: center;
  color: #fff;
}

footer p {
  font-family: 'Orbitron';
  text-align: right;
  font-size: 0.6em;
  color: #bdc1bf;
  margin-bottom: 50px;
}

h1 {
  font-family: 'Orbitron';
  text-align: center;
  font-weight: 400;
  margin: 30px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.main-title {
  font-family: 'Orbitron';
  text-align: center;
  font-weight: 400;
  margin: 30px auto;
}


.box-centered-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game {
  background: hsl(44, 92%, 52%);
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 15px 10px 10px;
  width: 100%;
  margin: 16px auto;
  overflow-wrap: break-word;
  animation: grow 1s;
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(97%);
  }
  75% {
    transform: scale(103%);
  }
  100% {
    opacity: 1;
  }
}

.game.isbuttonpressed {
  background-color: #f9d571;
}

.game h2 {
  font-size: 2em;
  color: white;
  margin: 0 auto;
}

.result {
  background: #e7eff8;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 20px 10px;
  width: 100%;
  margin: 16px auto;
  align-items: bottom;
}

.first-row.result {
  background: #fadd8d;
  align-items: center;
}

.second-row.result {
  background: #dfdfdf;
}

.third-row.result {
  background: #fad8b5;
}

.top.result p {
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .top.result p {
    font-size: 0.8em;
  }
}
.game-scores {
  margin: 50px auto;
}

.winners-table {
  margin: 50px auto 5px;
}

.under-winners-table {
  margin: 0 auto 45px;
}

.positive-points {
  color: #1976d2;
}

.negative-points {
  color: red;
}

.bottom-navigation {
  z-index: 100;
  /* height: 70px; */
}
