* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  /* font-family: "Orbitron", sans-serif; */
}

body {
  background: #eee;
  background-image: url('https://www.transparenttextures.com/patterns/tiny-grid.png');
  /* padding: 0 16px; */
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: 'Orbitron';
  font-weight: 700;
  margin: 0 auto;
}

header p {
  text-align: center;
  color: #fff;
}

footer p {
  font-family: 'Orbitron';
  text-align: right;
  font-size: 0.6em;
  color: #bdc1bf;
}

h1 {
  font-family: 'Orbitron';
  text-align: center;
  font-weight: 400;
  margin: 30px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.box-centered-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Player input */
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused {
  background-color: #efefef;
}

/* Result input in gamecard */
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused {
  background-color: #f9d571;
}

.game {
  background: hsl(44, 92%, 52%);
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 15px 10px 10px;
  width: 100%;
  margin: 16px auto;
  overflow-wrap: break-word;
}

.game.isbuttonpressed {
  background-color: #f9d571;
}

.game h1 {
  font-size: 2em;
  color: white;
  margin: 0 auto;
}

.result {
  background: #e7eff8;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 20px 10px;
  width: 100%;
  margin: 16px auto;
  align-items: bottom;
}

.first-row.result {
  background: #fadd8d;
  align-items: center;
}

.second-row.result {
  background: #dfdfdf;
}

.third-row.result {
  background: #fad8b5;
}

.top.result p {
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .top.result p {
    font-size: 0.8em;
  }
}
.game-scores {
  margin: 50px auto;
}

.winners-table {
  margin: 50px auto 5px;
}

.under-winners-table {
  margin: 0 auto 45px;
}

.positive-points {
  color: #1976d2;
}

.negative-points {
  color: red;
}

.bottom-navigation {
  z-index: 100;
  /* height: 70px; */
}
